$backcolor: #131313;

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
  user-select: none;
  overflow: hidden;
  font-family: "Quicksand";
}

#main {
  background-color: $backcolor;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#background {
  width: calc(100vw - 25px);
  height: calc(100vh - 25px);
  margin: 12.5px;
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 40px;

  #navbar {
    width: calc(100% - 50px);
    margin: 25px;
    height: 95px;
    background-color: $backcolor;
    border-radius: 20px;

    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;

    .navbarbtn {
      margin-left: calc((95px / 2 - 26px) / 2);
      padding: calc(95px / 2 - 26px);
      border-radius: 15px;
      font-size: 26px;
      color: white;
      text-align: center;
      cursor: pointer;

      border: 2px solid transparent;

      transition: border 0.1s ease-in-out, background-color 0.15s ease-in-out;
    }

    .activebtn {
      background-color: #1e8dcb;
      border: #1e8dcb solid 2px;
    }
  }
}

#projects {
  position: absolute;

  pointer-events: none;
  transform: scale(0.2);
  opacity: 0;

  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;

  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 170px);
  background-color: $backcolor;
  border-radius: 20px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .project {
    width: 250px;
    height: 175px;

    background-size: cover;
    background-position: 50%;
    border-radius: 20px;
    margin: 25px 25px;
    overflow: visible;

    cursor: pointer;

    transition: transform 0.05s;

    &:hover {
      transform: scale(1.015);
    }

    p {
      color: white;
      position: relative;
      font-size: 1.5rem;
      text-align: center;
      width: 100%;
      bottom: calc(-100% - 5px);
    }
  }

  #stuffindustry {
    background-image: url("https://img.itch.zone/aW1nLzk4NDQ5NTEucG5n/315x250%23c/41pJ2b.png");
  }

  #patchthebugs {
    background-image: url("https://img.itch.zone/aW1nLzkyMjY3NTgucG5n/315x250%23c/U%2FrujO.png");
  }

  #mastermind {
    background-image: url("https://github.com/Burstyx/Mastermind/blob/master/Assets/Img/AndroidIcon.png?raw=true");
  }
}

#bio {
  position: absolute;

  pointer-events: none;
  transform: scale(0.2);
  opacity: 0;

  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;

  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 170px);
  background-color: $backcolor;
  border-radius: 20px;

  color: white;

  p {
    margin: 0 25%;
  }

  #biotitle {
    font-size: 2rem;
    margin-top: 15px;
    text-align: center;
  }

  #biobody {
    text-align: center;
    margin-top: 30px;
    font-size: 1.1rem;
  }
}

#professionalprojects {
  position: absolute;

  pointer-events: none;
  transform: scale(0.2);
  opacity: 0;

  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;

  left: 25px;
  width: calc(100% - 50px);
  height: calc(100% - 170px);
  background-color: $backcolor;
  border-radius: 20px;

  color: white;
}

.popup {
  max-width: 550px;
  min-width: 0px;
  padding: 15px;
  height: fit-content;
  background-color: #090909;
  opacity: 98%;
  position: absolute;
  z-index: 10;
  color: white;
  border-radius: 10px;
  visibility: hidden;

  .popuptitle {
    text-align: center;
    text-decoration: overline;
    font-weight: 600;
    font-size: 1.15rem;
    padding-bottom: 20px;
  }

  .popupbody {
    text-align: center;
  }
}

#reserror {
  visibility: hidden;
  z-index: 100;
  position: absolute;
  background-color: $backcolor;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    padding: 10px;
  }
}

@media screen and (max-width: 1240px) {
  #reserror {
    visibility: visible;
    color: white;
  }
}

@media screen and (max-height: 600px) {
  #reserror {
    visibility: visible;
    color: white;
  }
}
