$backcolor: #131313;

@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  padding: 0;
  margin: 0;
}

#main {
  background-color: $backcolor;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#background {
  width: calc(100vw - 25px);
  height: calc(100vh - 25px);
  margin: 12.5px;
  background-image: url(wallpaper.png);
  background-size: cover;
  background-position: center;
  position: absolute;
  border-radius: 40px;

  #navbar {
    width: calc(100% - 50px);
    margin: 25px;
    height: 95px;
    background-color: $backcolor;
    border-radius: 20px;
    filter: blur(40);
    opacity: 80%;

    display: flex;
    align-items: center;

    .navbarbtn {
      margin-left: calc((95px / 2 - 26px) / 2);
      padding: calc(95px / 2 - 26px);
      border-radius: 15px;
      font-size: 26px;
      color: white;
      text-align: center;
      font-family: "Quicksand";
    }

    .activebtn {
      background-color: #1e8dcb;
    }
  }
}
