$backcolor: #131313;

* {
  padding: 0;
  margin: 0;
}

#main {
  background-color: $backcolor;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

#background {
  width: calc(100vw - 25px);
  height: calc(100vh - 25px);
  margin: 12.5px;
  background-color: red;
  position: absolute;
  border-radius: 40px;
}
